.background {
    -fx-background-color: #ffffff;
}

.tool-bar {
    -fx-background-color: #ffffff;
}

.sparklis-blue {
    -fx-text-fill: #484848;
    -fx-text-alignment: center;
}

.button {
    -fx-background-color: #484848;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.7), 20, 0, 0, 0);
    -fx-text-fill: #ffffff;
}
.button:pressed {
    -fx-background-color: red;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.7), 20, 0, 0, 0);
    -fx-text-fill: #ffffff;
}

.choice-box {
    -fx-background-color: #484848;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.7), 20, 0, 0, 0);
    -fx-mark-color: a5ecff;
}

.choice-box > .label {
    -fx-text-fill: #ffffff;
}

.accordion {
    -fx-background-color: transparent;
}

.accordion .titled-pane > .title {
    -fx-background-color: #cdcdcd;
}

.accordion .titled-pane > *.content {
    -fx-background-color: white;
}

.scroll-pane > .viewport {
    -fx-background-color: #ffffff;
}

.flowpane {
    -fx-vgap: 15;
}