.background {
    -fx-background-color: #484848;
}

.tool-bar {
    -fx-background-color: #484848;
}

.sparklis-blue{
    -fx-text-fill: #a5ecff;
}

.button{
    -fx-background-color: #a5ecff;
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
    -fx-text-fill: #484848;
}

.choice-box{
    -fx-background-color: #a5ecff;
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
    -fx-text-fill: #484848;
}

.accordion {
    -fx-background-color: transparent;
}

.accordion .titled-pane{
    -fx-text-fill: #a5ecff;
}

.accordion .titled-pane > .title {
    -fx-background-color: #484848;
}

.accordion .titled-pane > *.content{
    -fx-background-color: white ;
}

.scroll-pane > .viewport  { -fx-background-color: #484848; }